.shipping-container {
  position: sticky;
  justify-content: flex-end;
  display: flex;
  bottom: 0;
  width: 400px;
  height: 7rem;
  padding: 0px 20px 20px 20px;
  color: #000000;

  background-color: #fff;
  margin-top: 10px;
  border-radius: 8px;
}
.shipping-container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.voucher {
  display: flex;
  height: 300px;
  flex-direction: column;
}
.voucher p {
  display: flex;
  margin-left: 10px;
  flex-direction: flex-start;
}

.total-payment {
  display: flex;

  margin-right: 20px;
}

.voucher-input-container1 {
  display: flex;
  background-color: #ffffff;

  flex-direction: row;
  justify-content: space-between;
  margin-right: 8px;
  height: 2rem;
  width: 100%;
}

.voucher-input {
  height: 2.5rem;
  width: 15rem;
  border-radius: 15;
  outline: none;
}

.voucher-btn {
  border: none;
  background-color: #11a1f5;
  width: 6rem;
  color: #ffffff;
  font-weight: 700;
  border-radius: 20;
  height: 2.5rem;
}

.pay-btn {
  height: 2rem;
  width: 6rem;
  border: none;
  background-color: #f96934;
  color: #ffffff;
  font-weight: 700;
  margin-left: 24px;
  cursor: pointer;
  border-radius: 1;
}
