.information-container {
  position: sticky;
  /* justify-content: flex-end; */
  display: flex;
  bottom: 0;
  width: 400px;
  /* height: 6rem; */
  padding: 20px;
  color: #000000;
  /* align-items: center; */
  background-color: #fff;
  margin-top: 50px;
  border-radius: 8px;
}
.information-container1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ship-container {
  flex: 0.1;
  display: flex;
  justify-content: space-between;
}

.button-info-add {
  display: flex;
  justify-content: flex-end;
  padding: 10px 1% 0 20px;
}

.button-info-add button {
  background-color: #0fa6ecd2;
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.user-data {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-data1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.user-data-name {
  margin-right: 10px;
}
.user-data-name p {
  font-size: 1.1rem;
  font-weight: 600;
}
.user-data-name3 {
  height: auto;
}
.user-data-name3 p {
  font-size: 1rem;
  color: #343333;
}
