.cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.header-cart {
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;

  flex-direction: "row";
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.header-title {
  font-size: 0.9rem;
  cursor: pointer;
}

.search-product {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7e7e7e;
  padding-left: 10px;
  margin-left: 2rem;
  border-radius: 0.3rem;
  transition: 0.3s;
}

.search-product-input {
  height: 2.2rem;
  border: none;
  outline: none;
  width: 300px;
}

.search-product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 1rem; /* Adjusted for better alignment */
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.body-cart {
  background-color: #f2f2f5;
  display: flex;
  flex: 1;
  flex-direction: row;
  /* width: calc(100% - 280px); */
  justify-content: space-evenly;
  padding-bottom: 100px;
}
.payment {
  flex: 0.35;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.products-list {
  width: 1100px;
  margin-top: 50px;
}
.products-list-header {
  display: flex;
  flex-direction: "row";

  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  overflow: hidden;
  border-radius: 8px;
  height: 55px;
  font-size: 14px;
  background: #fff;
  margin-bottom: 12px;
  color: #888;
}

.search-product-icon {
  width: 1.4rem;
}

.user {
  margin-left: 1rem; /* Adjusted for better alignment */
}

.user-icon {
  width: 3rem;
}

.hr-cart {
  background-color: #7e7e7e;
}

.body-cart-title {
  display: flex;
  justify-content: center;
}
.tbuy-btn {
  background-color: #ff4040e8;
  color: #fff;
  width: 100%;
  height: 3rem;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.my-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 3rem;
}

.shopping-icon {
  width: 2rem;
}

.body-cart-content {
  display: flex;
  justify-content: center;
  /* padding-left: 100px; */
}

.info {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.item1 {
  width: 46.27949%;
  color: rgba(0, 0, 0, 0.8);
  align-items: flex-start;
}
.item2 {
  color: rgba(0, 0, 0, 0.8);
  padding-left: 56px;
}

.price1 {
  width: 15.88022%;
  text-align: center;
}

.quantity1 {
  width: 15.4265%;
  text-align: center;
}

.total1 {
  width: 10.43557%;
  text-align: center;
}
.delete1 {
  width: 12.70417%;
  text-align: center;
}
.item-space2 {
  padding: 0 6px 0 10px;
  display: flex;
  flex-direction: row-reverse;
  min-width: 56px;
  box-sizing: border-box;
}
