

.productCard{
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  vertical-align: top;
  border-radius: 20px;
  width: 270px;
  height: 500px;
  background-color: rgb(236, 236, 236);
  text-decoration: none;
}
.productCard:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  cursor: pointer;
}
.productImage{
  margin-left: 20px;
  margin-top: 50px;
  width: 90%;
}
.title{
  font-size: 20px;
  text-align: center;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  vertical-align: bottom;
  padding-left: 20px;
  padding-right: 20px;
  
}
.discount{
  font-size: 20px;
  font-weight: bold;
}
.price{
  text-decoration: line-through;
  vertical-align: bottom;
  margin-top: 20px;
  font-size: 17px;
}
.percent{
}







