

.navbar{
    display: flex;
    gap: 20px;
    padding-top: 40px;
}

.nav-pagename{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding-left: 80px;
    padding-right: 80px 
    
}

.nav-menu{
    display: flex;
    gap: 60px;
    justify-content: center;
    padding-top: 20px;
}

.products-input{
    width: 350px;
    border-radius: 5px;
    border: 0px;
    height: 50px;
    background-color: #eeeeee;
    padding-left: 20px;
}

.products-input:focus {
    outline: none; /* Loại bỏ đường viền mặc định */
}

.nav-input{
    justify-content: center;
    padding-left: 40px;
}

.icon{
    width: 40px; 
    height: 40px;
}

.shopping-icon{
    padding-left: 40px;
    padding-right: 5px;
}

.user-icon{
    padding-left: 5px;
    padding-right: 40px;
}
