.navbar-container{
    overflow: auto;
}

.navbar{
    display: flex;
    width: 100%;
}

.nav-pagename{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    cursor: pointer;
}

.menu-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 62px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    transition: color 0.3s ease;
    transition: background-color 0.5s ease;
}

.menu-component:hover{
    background-color:#141414;
    color: #eeeeee;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(4px) saturate(180%);
    background-color: #eeeeee;
}

.input-box{
    height: 10px;
}

.search-bar input{
    background: transparent;
    display: flex;
    border: 0;
    background-color: #eeeeee;
    padding: 20px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
}

.search-bar button img{
     width: 14px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #eeeeee;
    cursor: pointer
}

.nav-input{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.nav-icon{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 60px;
}

.icon{
    width: 40px; 
    height: 40px;
    cursor: pointer;
}

