.payment-container {
  position: fixed;
  justify-content: flex-end;
  display: flex;
  bottom: 0;
  width: 1000px;
  height: 6rem;
  padding: 20px;
  color: #000000;
  align-items: center;
  background-color: #fff;
}
.payment-container1 {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.voucher {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.total-payment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.voucher-input-container {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin-left: 10px;
  height: 2rem;
  align-items: center;
  border-radius: 2;
}

.voucher-input {
  height: 2rem;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

.voucher-btn {
  border: none;
  background-color: #f96934;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: 700;
  height: 2rem;
  cursor: pointer;
}

.pay-btn {
  height: 2rem;
  width: 6rem;
  border: none;
  background-color: #f96934;
  color: #ffffff;
  font-weight: 700;
  margin-left: 24px;
  cursor: pointer;
  border-radius: 1;
}
